.jumbotron {
    text-align: center;
}

body {
    background-image: url("cars.jpg");
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
}
